
body {
	background: #cf1270
}

#dowload {  
width: 100%;
}

#Ocampo {
	color: aquamarine;
	text-align: center;
}

h1 {
	text-align: center;

}
p {
	text-align: center;
}

em strong {
	color:blueviolet
}